name: CI pipeline
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkoutav5

      - name: Set up Node.js
        uses: actions/setup-nodeav3 
        with: 
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test